<div>
    <a href="" class="logo"></a>
</div>
<hr>
<div class="header-list-name">
    <h2 class="namesite">SNMonitoring</h2>
    <div class="header-list fc no-select">
        MINECRAFT
    </div>
    <hr>
</div>
<div class="morecon">
    <div class="marquee">
        SNMonitoring — объективный мониторинг игровых-серверов.

        Наш сервис предоставляет достоверную аналитику и автоматизированный рейтинг игровых серверов на основе строгих алгоритмов оценки.

        Мы гарантируем точность данных и честность представленной статистики.
    </div>
</div>
<hr>
<div>
    <div class="panel">
        <a href="settings/prof-change.html" class="setting fc">
            <i class="fa-solid fa-sliders fa-lg"></i>
        </a>
        <div class="projects fc" style="gap: 0.3rem;">
            <i class="fa-solid fa-server fa-lg" style="color: white;"></i>
            <i class="fa-solid fa-plus" style="color: white;"></i>
        </div>
        <a href="profile.html" class="PP">
            <img src="lib/avatars/1537801.png" alt="">
        </a>
    </div>
</div>