.friendspanel {
    width: 100%;
    height: auto;
    padding: 0 1rem;
    display: grid;
    gap: 1rem;
    color: white;
}

.fpi {
    display: flex;
    gap: 1rem;
}

.nfpi {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nfpi h5 {
    color: var(--online);
}

.addfp {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.addfp input {
    flex: 1;
    color: white;
    background: var(--bci);
    border-radius: 15px;
    font-size: 16px;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
}

.btnfadd {
    height: 2rem;
    padding: 0 0.5rem;
    gap: 0.5rem;
    background: var(--bci);
    border-radius: 15px;
    cursor: pointer;
}

.btnfadd:hover {
    background: #686868;
}

.conf {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.reqflist {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

.fitem {
    height: 4rem;
    background: var(--bci);
    border-radius: 50px;
    padding: 0.3rem 1rem 0.3rem 0.3rem;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.fitem img {
    height: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
    transition: 0.3s ease;
}

.fitem:hover img {
    transform: scale(1.2);
    transition: 0.3s ease;
}

.fna {
    flex: 1;
}

.fna h5 {
    font-weight: 100;
}

.reqfbt {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    color: #686868;
}

.reqfbt:hover {
    color: white;
}

.friendlist {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

.online h5 {
    color: rgb(140, 202, 90);
}

.ofline h5 {
    color: rgb(163, 163, 163);
}


@media (max-width: 1100px) {
    .fpi {
        flex-direction: column;
    }
    .reqflist {
        grid-template-columns: 1fr 1fr;
    }

    .friendlist {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 750px) {
    .reqflist {
        grid-template-columns: 1fr;
    }

    .friendlist {
        grid-template-columns: 1fr;
    }
    .addfp {
        flex-direction: column;
        justify-content: center;
        align-items: start;
    }
    .addfp input {
        flex: none;
        width: 100%;
    }
    .btnfadd {
        height: 4rem;
    }
    .friendspanel {
        padding: 1rem;
        margin-top: 4rem;
    }
}