header {
    margin: 0;
    max-width: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.psp {
    width: 100%;
    height: 100vh;
    min-height: 100vh;
}

.psimgp {
    width: 100%;
    min-height: 60%;
    padding: 4rem 3rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
    color: white;
    border-radius: 0 0 15px 15px;
    position: relative;
}

.favorites {
    opacity: 0;
    position: absolute;
    top: 5rem;
    right: 3rem;
    font-size: 30px;
    color: rgba(163, 163, 163, 0.664);
    cursor: pointer;
    transition: 0.3s ease;
}

.favorites input {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}

.favorites:has(input:checked) {
    color: white;
    animation: glowPulse 0.7s ease;
    opacity: 1 !important;
}

.favorites:hover {
    color: rgba(230, 230, 230, 0.863);
}

@keyframes glowPulse {
    0% {
        text-shadow: 0 0 0px transparent;
    }
    50% {
        text-shadow: 0 0 20px white, 0 0 30px white;
    }
    100% {
        text-shadow: 0 0 0px transparent;
    }
}

.psimgp:hover .favorites {
    opacity: 1;
    transition: 0.3s ease;
}

.psimgp h1 {
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: end;
    text-align: center;
}

.psupinfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.psupinfo img {
    width: 15rem;
    height: 15rem;
    border-radius: 15px;
}

.infserp {
    display: flex;
    align-items: end;
    gap: 0.5rem;
}

.infsite {
    width: 4rem;
    height: 4rem;
    background: var(--bci);
    border-radius: 15px;
    color: white;
    cursor: pointer;
}

.infsite:hover {
    background: rgb(90, 90, 90);
}

.infcon {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.ipcon {
    height: 4rem;
    padding: 0 2rem;
    background: rgba(55, 55, 55, 0.9);
    border-radius: 15px;
    cursor: pointer;
}

.ipcon:hover {
    background: rgba(90, 90, 90, 0.856);
}

.btnplay {
    width: 10rem;
    height: 4rem;
    background: rgb(55, 117, 55);
    border-radius: 15px;
    font-size: 25px;
    cursor: pointer;
}

.btnplay:hover {
    background: rgb(83, 148, 83);
}

.moreinfop {
    width: 100%;
    min-height: 40%;
    padding: 1rem;
    background-color: #15181d;
    color: white;
    display: flex;
    gap: 1rem;
}

.downp {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.classes {
    padding: 1rem;
    background: var(--bci);
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.3rem;
}

.classitem {
    width: min-content;
    background: var(--bci);
    outline: solid 1px white;
    padding: 0.2rem 0.5rem;
    border-radius: 15px;
    gap: 0.2rem;
    text-wrap: nowrap;
    font-weight: 100;
}

.textinfo {
    text-align: center;
    padding: 0.5rem;
    background: var(--bci);
    border-radius: 15px;
    font-weight: 100;
}



.timelinecon {
    background: var(--bci);
    border-radius: 15px;
    padding: 1rem;
}

.timeline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 1rem auto;
    position: relative;
}

.timeline::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 4px;
    background: #e0e0e0;
    transform: translateY(-50%);
    z-index: 1;
}

.timeline-point {
    width: 20px;
    height: 20px;
    background: white;
    outline: 2px solid black;
    border-radius: 50%;
    position: relative;
    z-index: 2;
    transition: all 0.3s ease;
    cursor: pointer;
}

.timeline-point:hover {
    transform: scale(1.2);
    background: white;
    outline: 2px solid white;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
}

.timeline-point:hover .timeline-label {
    color: white;
}

.timeline-label {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 10px;
    font-size: 12px;
    color: #666;
    white-space: nowrap;
    transition: all 0.3s ease;
}

.notwork {
    background: black;
    outline: 2px solid white;
}

.notwork:hover {
    background: black;
}

.twork {
    background: rgb(72, 97, 145);
}

.twork:hover {
    background: rgb(72, 97, 145);
}

.multiblock {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.linkscon {
    flex: 1;
    background: var(--bci);
    border-radius: 15px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.linkslist {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    font-size: 30px;
    color: rgb(255, 255, 255);
}

.linkslist i:hover {
    cursor: pointer;
    color: rgb(163, 163, 163);
}

.awards {
    flex: 1;
    background: var(--bci);
    border-radius: 15px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.awardslist {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
    font-size: 30px;
}

.awardslist i:hover {
    cursor: pointer;
    opacity: 0.7;
}

.adminscon {
    background: var(--bci);
    border-radius: 15px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.adminscon span {
    color: rgb(163, 163, 163);
}

.admins {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
    padding-left: 0.5rem;
}

.admins a {
    color: white;
}

.admins a:hover {
    color: rgb(163, 163, 163);
}

.gallery {
    column-count: 2;
}

.gallery a {
    width: 100%;
    display: block;
    line-height: 0;
    margin-bottom: 1rem;
}

.gallery img {
    width: 100%;
    border-radius: 15px;
}

.repcon {
    background: var(--bci);
    border-radius: 15px;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
}

.support {
    font-size: 20px;
    width: 4rem;
    height: 4rem;
    border-radius: 15px;
    outline: solid 1px white;
    color: white;
    cursor: pointer;
    transition: 0.1s ease;
}

.support:hover {
    background: white;
    color: var(--bci);
}

.repline {
    flex: 1;
    outline: solid 1px white;
    border-radius: 15px;
    display: flex;
    color: rgb(163, 163, 163);
}

.report {
    font-size: 20px;
    color: var(--bci);
    background: white;
    width: 4rem;
    height: 4rem;
    padding: 0.5rem;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.3s ease;
    display: flex;
    flex-direction: row;
}

.report:hover {
    background: rgb(175, 4, 4);
    color: white;
    width: 13rem;
}

.reptext {
    width: 0;
    overflow: hidden;
    transition: 0.3s ease;
}

.report:hover .reptext {
    width: max-content;
    padding-left: 0.5rem;
}



@media (max-width: 1100px) {

    .psupinfo {
        flex-direction: column;
        gap: 1rem;
    }

    .psupinfo img {
        width: 8rem;
        height: 8rem;
    }

    .moreinfop {
        flex-direction: column;
    }
    
    .psimgp h1 {
        width: min-content;
    }
}

@media (max-width: 750px) {

}

@media (max-width: 650px) {

    .psimgp {
        padding: 4rem 1rem 1rem;
    }

    .infserp {
        flex-wrap: wrap;
    }

    .btnplay {
        width: 100%;
    }

    .playcon {
        width: 100%;
    }

    .favorites {
        opacity: 1;
        right: 1rem;
    }
}