.edit-panel {
    height: auto;
    display: grid;
    gap: 1rem;
    flex: 1;
}

.pce {
    border-radius: 15px;
    background: var(--bci);
    color: white;
    padding: 1rem;
    position: relative;
}

.pname {
    display: inline-flex;
    gap: 1rem;
}

.pname img {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    border: solid 2px rgb(0, 0, 0);
}

.profile-edit {
    display: inline-flex;
    gap: 1rem;
}

.pavatar {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.pavatar img {
    width: 6rem;
    height: 6rem;
}

.avaaddlist {
    display: inline-flex;
    gap: 1rem;
}

.avalist {
    display: inline-flex;
}

.avalist img {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: solid 1px black;
    margin-right: -0.3rem;
    cursor: pointer;
}

.avalist img:hover {
    transform: scale(1.5);
    transition: 0.3s ease;
}

.input {
    width: min-content;
    height: 2rem;
    padding: 0 0.5rem;
    background: var(--bcm);
    color: white;
    border-radius: 4px;
    cursor: pointer;
    white-space: nowrap;
}

.input:hover {
    background: #686868;
}

.input input {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.ininfo {
    background: var(--bcm);
    color: white;
    border-radius: 2px;
    padding: 0.5rem;
    border: none;
    outline: none;
}

.pservers {
    font-size: 14px;
    background: var(--bcm);
    color: white;
    border-radius: 2px;
    padding: 0.5rem;
    border: none;
    outline: none;
}

.pbaner {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.baner {
    width: auto;
    height: 13rem;
    border-radius: 15px;
    padding: 0 1.5rem 1.5rem;
    display: flex;
    flex-direction: column-reverse;
}

.banerinfo {
    display: inline-flex;
    gap: 0.5rem;
}

.banerinfo img {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    border: solid 2px rgb(0, 0, 0);
}

.bname {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bname h3 {
    color: white;
    mix-blend-mode: difference;
    margin-bottom: 0.2rem;
}

.bname h4 {
    font-weight: 100;
    color: white;
    mix-blend-mode: difference;
}

.bname h6 {
    font-weight: 100;
    color: white;
    mix-blend-mode: difference;
}

.bedit {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1;
}

.inputbaner {
    width: 10rem;
    height: 2rem;
    background: var(--bcm);
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.banerlist {
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 1rem;
}

.banerhistory {
    display: inline-flex;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.bitem {
    width: 4rem;
    height: 2rem;
    border: solid 2px rgb(94, 94, 94);
    border-radius: 4px;
    cursor: pointer;
}

.bitem:hover {
    transform: scale(1.5);
    transition: 0.3s ease;
}

.ptextcolor {
    display: inline-flex;
    gap: 0.5rem;
}

.coloritem {
    width: 3rem;
    height: 1.5rem;
    border: solid 2px rgb(94, 94, 94);
    border-radius: 4px;
    cursor: pointer;
}

.coloritem:hover {
    border: solid 2px rgb(192, 192, 192);
}

#wtc {
    background: white;
}

#btc {
    background: black;
}

#atc {
    background: linear-gradient(45deg, #000 50%, #fff 50%);
}

.srcdef {
    flex: 1;
    width: min-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    padding-left: 0.5rem;
    cursor: pointer;
    color: white;
    white-space: nowrap;
}

.srcdef:hover {
    color: rgb(163, 163, 163);
}

.save {
    cursor: pointer;
}

.save:hover {
    background: #2e2e2e;
}

@media (max-width: 1000px) {
    .profile-edit {
        flex-direction: column;
    }
}