.regcon {
    margin: 5rem auto;
    padding: 1rem;
    width: min-content;
}

.regpanel {
    width: 30rem;
    padding: 1rem;
    background: var(--bci);
    border-radius: 15px;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.dopauth {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
}

.daitem {
    color: white;
    background: var(--bcm);
    border-radius: 15px;
    padding: 0.5rem;
    font-size: 20px;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    tap-highlight-color: transparent;
    gap: 0.5rem;
}

.daitem:hover {
    background: #686868;
}

.regpanel input {
    height: min-content;
    font-size: 20px;
    padding: 0.5rem 1rem;
    background: var(--bcm);
    color: white;
    border-radius: 15px;
    border: none;
    outline: none;
}

.regbtn {
    cursor: pointer;
    padding: 0.5rem;
    background: white;
    border-radius: 15px;
    color: black;
}

.regbtn:hover {
    background: #b3b3b3;
}

.alink {
    color: white;
    text-decoration: none;
}

.alink:hover {
    text-decoration: underline;
}

@media (max-width: 550px) {
    .dopauth {
        grid-template-columns: 1fr;
    }

    .regcon {
        width: auto;
    }

    .regpanel {
        width: auto;
    }
}