:root {
    --text: "Tektur", sans-serif;
    --online: rgb(85, 177, 0);
    --borderhover: #8590a5;
    --pgap: 0.5rem;
    --none: none;

    --bci: rgb(55 55 55);
    --bcm: rgb(39 39 39);
}



@font-face {
    font-family: 'SN';
    src: url('../font/icomoon-v1.0/fonts/icomoon.ttf') format('truetype'),
         url('../font/icomoon-v1.0/fonts/icomoon.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

  
[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'SN' !important;

    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-logo:before {
    content: "\e900";
  }
  


* {
    font-family: var(--text);
    box-sizing: border-box;
    margin: 0;
}

input[type="file"] {
  cursor: pointer;
}

a {
    text-decoration: none;
}

label {
    font-family: var(--text);
    color: white;
}

html {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    /* Основной цвет фона */
    background-color: #15181d;
    background-image:
      linear-gradient(to right, rgb(46, 52, 63) 1px, transparent 1px),
      linear-gradient(to bottom, rgb(46, 52, 63) 1px, transparent 1px);
    background-size: 10vw 10vw;
    /*scrollbar-color: #525252 #00000000;*/
}

html::-webkit-scrollbar {
    width: 7px;
    background: transparent;
}

html::-webkit-scrollbar-track {
    margin: 0;
    background: var(--bci);
}

html::-webkit-scrollbar-thumb {
    background: #ffffff;
    border-radius: 10px 0 0 10px;
}

html::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
}



::selection {
    background-color: black;
    color: white;
    text-shadow: none;
}

::-moz-selection {
    background-color: black;
    color: white;
    text-shadow: none;
}



.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--bcm);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: opacity 0.5s ease;
}

.preloader.hidden {
    opacity: 0;
    pointer-events: none;
}

.preloader-gif {
    width: 200px;
}






.fc {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.fd {
    display: flex;
    flex-direction: row;
    gap: 0.2rem;
}

.glass{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}


.noselect {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (max-width: 750px) {
    html {
        background-size: 20vw 20vw;
    }
}